#bio {
  display: flex;
  flex-direction: row;
}

#bio .bio-section {
  width: 60%;
}

#bio .bio-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

#bio .avatar {
  border: 1px solid gray;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

#bio .bio-text-section {
  padding: 0 2rem;
}

#bio #bio-text {
  padding: 0.5rem 1rem;
  min-height: 10rem;
}

#bio .hike-section {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  #bio .bio-header-section {
    margin: 0.5rem;
  }

  #bio .avatar {
    width: 2rem;
    height: 2rem;
  }
  
  #bio .bio-text-section {
    padding: 0 0.3rem;
  }
  
  #bio #bio-text {
    padding: 0 0.3rem;
    min-height: 14rem;
  }
}