#post-hike .content {
  display: flex;
  flex-direction: row;
}

/* Form */
#post-hike #form-area {
  width: 60%;
  text-align: left;
  height: 28rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  padding-left: 1rem;
  line-height: 1.5rem;
  overflow: scroll;
}

#post-hike input[name="hikeTitle"] {
  width: 20rem;
}

#post-hike input[list="area"] {
  width: 15rem;
}

#post-hike label {
  margin-right: 0.5rem;
}

#post-hike input[name="location"] {
  width: 20rem;
}

#post-hike textarea {
  width: 25rem;
  height: 4rem;
}

#chosen-hike, #chosen-hike-placeholder {
  line-height: 1rem;
  width: 70%;
}

#chosen-hike {
  margin: 0.5rem;
  padding: 0.2rem 1rem;
}


@media only screen and (max-width: 768px) {
  #post-hike #form-area {
    height: auto;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    padding: 0.3rem;
    line-height: 1.2rem;
  }

  #post-hike input[name="title"] {
    width: 10rem;
  }

  #post-hike input[list="area"] {
    width: 10rem;
  }

  #post-hike input[type="checkbox"] {
    margin-left: 0.5rem;
  }

  #post-hike input[name="location"] {
    width: 10rem;
  }

  #post-hike textarea {
    width: 15rem;
    height: 5rem;
  }
}
