#login {
  width: 65%;
  margin: auto;
  padding-top: 1rem;
}

#login form {
  width: 90%;
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
  line-height: 1.5rem;
  overflow: scroll;
  height: 20rem;
}

#login input[name="email"] {
  width: 20rem;
}

@media only screen and (max-width: 768px) {
  #login {
    width: 90%;
    padding: 1rem;
    height: auto;
  }
}