#login {
  width: 85%;
  margin: auto;
  padding-top: 0.5rem;
}

#login form {
  width: 90%;
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
  line-height: 1.5rem;
  overflow: scroll;
  min-height: 10rem;
}

#login input[name="email"] {
  width: 20rem;
}

#login a {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 768px) {
  #login {
    width: 90%;
    padding: 1rem;
    height: auto;
  }
}